<h1>{{student.Name}}</h1>
<h2>{{student.Instrument}}</h2>
<h2>{{student.School}}</h2>
<h2>{{student.Age}}</h2>

<a href="/registerStudents/{{student.id}}/replace">
<input type="submit" value="replace" />
</a>
<input type="submit" value="delete" />
